{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "jsx": true,
        "useJSXTextNode": true
    },
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "prettier",
        "plugin:jest/recommended"
    ],
    "plugins": ["@typescript-eslint", "react-hooks", "jest"],
    "rules": {
        "@typescript-eslint/explicit-function-return-type": "off",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "react/prop-types": "off",
        "@typescript-eslint/camelcase": "off",
        "react/display-name": "warn",
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/no-use-before-define": "warn",
        "@typescript-eslint/no-namespace": "off",
        "prefer-const": "off",
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error"
    },
    "env": {
        "jest": true
    },
    "globals": {
        "page": true,
        "browser": true,
        "context": true,
        "jestPuppeteer": true
    }
}
